# -*- mode: conf-unix -*-
[color]
	diff = auto
	status = auto
	branch = auto
    interactive = auto
    ui = true
    pager = true
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[core]
	excludesfile = ~/.gitignore_global
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    editor = emacsclient -t
[alias]
    co = checkout
    sta = status
[github]
    user = timwraight
[push]
	default = simple
[pull]
    rebase = true
[alias]
br = for-each-ref --sort=committerdate refs/heads/ refs/remotes --sort=committerdate --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
[commit]
    template = ~/.gitcommitmsg.txt
[grep]
    extended-regexp = true
